{% extends "base.html" %}

{% block title %}新規登録 - リソース管理システム{% endblock title %}

{% block content %}
    <br>
    <div class="container">
        <h2>新規ユーザー登録</h2>
        <br>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">登録する</button>
        </form>
        
        <hr>
        <p>すでにアカウントをお持ちですか？</p>
        <a href="{% url 'login' %}" class="btn btn-secondary">ログイン画面に戻る</a>
    </div>
{% endblock content %}